<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mountainside.hydroppower.base.dao.user.UserMapper">
    <sql id="tableName">
        t_user
    </sql>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.mountainside.hydroppower.base.po.user.UserPo">
        INSERT INTO
        <include refid="tableName"/>
        (
        id,
        phone,
        loginName,
        realName,
        password,
        roleId,
        createTime,
        lastUpdateTime
        )
        VALUES
        (
        #{id},
        #{phone},
        #{loginName},
        #{realName},
        #{password},
        #{roleId},
        #{createTime},
        #{lastUpdateTime}
        )
    </insert>

    <update id="updateById" parameterType="com.mountainside.hydroppower.base.po.user.UserPo">
        UPDATE
        <include refid="tableName"/>
        <set>
            <if test="realName != null and realName != ''">
                AND realName = #{realName}
            </if>
            <if test="password != null and password != ''">
                AND password = #{password}
            </if>
            <if test="roleId != null">
                AND roleId = #{roleId}
            </if>
            <if test="lastUpdateTime != null">
                AND lastUpdateTime = #{lastUpdateTime}
            </if>
        </set>
        WHERE
        1= 1
        AND id = #{id}
    </update>

    <select id="selectList" resultType="com.mountainside.hydroppower.base.po.user.UserPo">
        SELECT * FROM
        <include refid="tableName"/>
        WHERE 1 = 1
        <if test="param.realName != null and param.realName != ''">
            AND reanName = #{param.realName}
        </if>
    </select>


    <select id="selectByNameOrPhone" parameterType="java.lang.String" resultType="com.mountainside.hydroppower.base.po.user.UserPo">
        SELECT * FROM
        <include refid="tableName"/>
        WHERE 1 = 1
        AND (phone = #{loginName} OR loginName = #{loginName})
    </select>
</mapper>